body {
  background-color: antiquewhite;
  position: relative;
}

.hidden {
  display: none;
}

.cake {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cake__info {
  font-size: 20px;
}

.cake__count {
  font-weight: 700;
  text-decoration: underline;
}

.progress-bar {
  width: 100px;
  background-color: #3d31316c;
  border-radius: 3px;
}

.progress-bar-fill {
  display: block;
  height: 10px;
  background-color: #17e004;
  border-radius: 3px;
}

.cake__button {
  font-weight: 700;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #17e004;
  transition: background-color 0.5s;
  margin-bottom: 50px;
}

.cake__button:disabled {
  background-color: grey;
  color: white;
}

.cake__button--pause {
  background-color: #fe2525;
  color: white;
}

.cake__button-info {
  color: #fe2525;
  font-weight: 700;
}

/* COOKIES TABLE */

.cookies-table {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  gap: 20px;
}

.cookies-table--click {
  position: absolute;
  font-size: 32px;
  pointer-events: none;
  animation-name: clickEvent;
  animation-duration: 1.5s;
}

.cookie {
  border-radius: 50%;
  background-color: yellow;
}

/* STOVE */

.stove__button {
  border-radius: 10px;
  padding: 10px;
  background-color: firebrick;
  color: white;
}

.stove__info {
  text-align: center;
}

.oven {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3,100px);
  border: 1px solid black;
}

.oven__slot {
  background-color: white;
  border: 1px solid black;
  transition: all 0.5s;
}

/* animation */

@keyframes clickEvent {
  0%   {opacity: 0; font-size: 16px;}
  25%  {opacity: 0.2; font-size: 20px;}
  50%  {opacity: 0.5; font-size: 24px;}
  75%  {opacity: 0.7; font-size: 28px;}
  100% {opacity: 1; font-size: 32px;}
}